/dist/
/build/
**/build
venv/
/QuICT.egg-info/
__pycache__/
/tbb-2020.1/
*.so
/_build/
/_static/
/_templates/
/source/
make.bat
.idea
example/python/*.jpg
.vscode
.test_build
_build
*qubit_cnot.json
*qubit_cnot.inf
*qubit_cnot_depth.inf
cmake-build*/
