/dist/
/build/
**/build
venv/
/quict.egg-info/
__pycache__/
/tbb-2020.1/
*.so
*.pyd
/_build/
/_static/
/_templates/
/source/
make.bat
.idea
example/python/*.jpg
.vscode
.test_build
_build
.ipynb_checkpoints
cmake-build*/
/QuICT/simulation/cpu_simulator/src/test_data/
/QuICT/simulation/cpu_simulator/src/perf_data/
callgrind.out*
*qubit_cnot.json
*qubit_cnot.inf
*qubit_cnot_depth.inf/
cmake-build*/
cmake-vsc*/
unit_test/**/*.jpg
.history
/QAOA_model*
/del
/data/
.log/
/demo/
/QNN_MNIST*
/docs_
/QNN2.0_MNIST*
