[Unit]
Description=QuICT Master Node Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=forking
Restart=on-failure
RestartSec=5
WorkingDirectory=/home/likaiqi/Workplace/distributed_server
ExecStart=/home/likaiqi/.conda/envs/env_kq/bin/python server.script.master_node_manager

[Install]
WantedBy=default.target